# This will ignore all the files that are un-necessary for the project
.DS_Store
# Mac OS location will not be included in the project becose of this.
/database/sqlite3
*.db
.idea/libraries/sqlite_jdbc_3_40_1_0.xml
.idea/libraries/sqlite_jdbc_3_40_1_0.xml
.idea/libraries/sqlite_jdbc_3_40_1_0.xml
.idea/libraries/sqlite_jdbc_3_40_1_0.xml
*.xml
